<div id="app-container">
  <div id="button-container">
    <input id="increment-button" type="button" value="Increment">
  </div>

  <div id="counter-container">
    <div id="counter"></div>
  </div>
</div>
