.Exercise {
  position: relative;
}

.ReloadButton {
  position: absolute;
  top: -5px;
  right: -5px;

  border: none;
  background: blue;
  color: white;
  border-radius: 3px;
  opacity: 0.3;

  font-size: 0.9rem;
  font-weight: bold;
}

.ReloadButton:hover {
  opacity: 1;
}

.ReloadButton:active {
  background: darkblue;
}

.ReloadButton:focus {
  outline: none;
}

.Title {
  display: block;
  color: gray;
  font-size: 0.9rem;
  margin-bottom: 0.5rem;
}

.Frame {
  box-sizing: border-box;
  width: 100%;
  border: none;
  box-shadow: 1px 1px 5px black;
}
