:global(html) {
  font-size: 62.5%;
}

:global(body) {
  font-size: 1.3rem;
}

.Outer {
  padding: 0;
  width: 100%;
  height: 100%;
}

.LeftPane {
  box-sizing: border-box;
  position: absolute;
  display: block;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  padding: 1em;
  background: #f8f8f8;
  overflow-x: hidden;
  overflow-y: scroll;
}

.RightPane {
  box-sizing: border-box;
  position: absolute;
  left: 200px;
  top: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  background: #e8e8e8;
}

.LinkGroupOuter {
  padding: 0.5em;
}

.LinkGroup {
  margin: 0;
  padding-bottom: 0.5em;
}

.MainContent {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: 0.5rem;
  padding: 1.3rem;
  min-height: 100px;
  background: white;
}
