.ScriptBlock {
  display: block;
  box-sizing: border-box;
  padding: 0;
  height: 100%;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.ReloadButton {
  position: absolute;
  top: 3px;
  right: 3px;

  border: none;
  background: blue;
  color: white;
  border-radius: 3px;
  opacity: 0.3;

  font-size: 0.9rem;
  font-weight: bold;
}

.ReloadButton:hover {
  opacity: 1;
}

.ReloadButton:active {
  background: darkblue;
}

.ReloadButton:focus {
  outline: none;
}

.Frame {
  display: block;
  box-sizing: border-box;
  width: 100%;
  min-height: 300px;
  border: none;
}
