.Links {
  list-style-type: none;
  padding: 3px;
  margin: 0 0 1em;
}

.Link {
  margin: 5px 0;
}

.Link a {
  margin-right: 8px;
  padding: 8px 0;
  text-decoration: none;
  border-radius: 3px;
}

.Link a:hover {
  background: #eee;
}

.ActiveLink {
  background: "#ddd"
}

.Tag {
  padding: 2px;
  border-radius: 3px;
  font-size: 0.6rem;
  font-weight: bold;

  background: lightgray;
  color: white;
}
